* {
  background-color: #282a36;
  text-color: #f8f8f2;
  border-color: #6272a4;

  spacing: 0;
  width: 512px;
}

window {
  border: 2px;
  padding: 10px;
}

inputbar {
  children: [prompt, entry];
  padding: 10px;
}

listview {
  lines: 8;
  padding: 10px;
}

element {
  padding: 5px;
}

element selected {
  background-color: #44475a;
}
