[submodule "vim"]
	path = vim
	url = git@github.com:levifig/vimfiles.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = git@github.com:Lokaltog/powerline-fonts
[submodule "iterm/molokai.itermcolors"]
	path = iterm/molokai.itermcolors
	url = git://gist.github.com/3887439.git
[submodule "tmux/tmuxifier"]
	path = tmux/tmuxifier
	url = git://github.com/jimeh/tmuxifier.git
[submodule "fzf"]
	path = fzf
	url = git://github.com/junegunn/fzf.git
